@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  /* Forzamos el fondo oscuro y la tipografía en todo el cuerpo de la app */
  body {
    @apply bg-fondo-principal text-texto-principal antialiased min-h-screen overflow-x-hidden;
    margin: 0;
  }

  /* Variables mínimas que shadcn/ui necesita internamente para no romperse */
  :root {
    --background: 235 36% 16%;
    --foreground: 22 47% 90%;
    --border: 235 36% 25%;
    --ring: 251 74% 83%;
    --radius: 0.5rem;
  }
}

